/* come on y'all, let's get into it!  
(shout out if you know where that sample is from) */

/* define CSS vars in the :root.  
What, you thought html was the lowest level?  Well THINK AGAIN. 

Define them with --variableName 

the Cascade affects as usual which declarations get the kibble,
from most specific to least */

/* ~~~~ */
/* Vars */
/* ~~~~ */

:root {
  --baseColor: cyan /* "base" could be anything, this needed some clarification in my head*/;
  --spacing: 10px;
  --blurRadius: 10px /* "blur" what tho? */;
}

/* ~~~~~~~~ */
/* Da Rules */
/* ~~~~~~~~ */

/* let's pad that image a bit to give it room to show the baseColor */
/* then we'll slap a blur on it.  This is all to match the starter stuff */
img {

  /* use CSS vars by putting them in...oh yeah, a var() */
  padding: var(--spacing);
  background: var(--baseColor);

  /* there's a blur function too, for adding a blur?  That's real neato */
  filter: blur(var(--blurRadius));
}

.hl {
  
  /* let's color that highlight */
  color: var(--baseColor);
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width:100px;
}