section#fresh-beats
    h2 fresh beats

    p
        |Ok, so maybe these beats aren't as fresh as advertised, but there's more where this came from on
        a(href='https://soundcloud.com/enmod') my SoundCloud.
    iframe(width="100%" height="400px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12296997%3Fsecret_token%3Ds-FWGol&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
    .soundcloud-box
