section#frontends
	h2 frontends
	p UI/UX for websites, graphics, flyers...I make it if a user wants to look at it instead of a spreadsheet. Here's a few I"ve done:

	#gallery.container
		.timeline
			//- loop to simplify label making for pagination
			template(v-for="item in itemList")
				.item(@click="turnTo ({{item.num}})" v-bind:class="{'active': slide.init.currentPage == {{item.num}}}") {{item.num}}

		//- prev/next buttons
		img.slider-left(src="/img/slide-arrow.svg" @click="slidePre" v-bind:class="{'disable': !this.slide.init.canPre}")
		img.slider-right(src="/img/slide-arrow.svg" @click="slideNext" v-bind:class="{'disable': !this.slide.init.canNext}")

		//- the main area for slides, this is where a lot of the vue bindings that matter will be going
		slide(v-bind:pages="itemList" v-bind:slide="slide")
			.slider-item(v-for="item in itemList" class="page{{$index}}" v-bind:style="itemList[$index].style")
				.info
					h2 {{item.title}}
					h3 {{item.subtitle}}
					{{item.desc}}

				.img
					img(src="{{item.imgsrc}}" alt="{{item.imgalt}}")
