extends _layout

block content	
	nav.cd-vertical-nav
		ul
			li
				a.active(href='#frontends-item')
					span.label frontends
			li
				a(href='#games-item')
					span.label games
			li
				a(href='#stories-item')
					span.label stories
			li
				a(href='#fresh-beats-item')
					span.label fresh beats
			li
				a(href='#contact-item')
					span.label contact

	button.cd-nav-trigger.cd-image-replace
		| Open navigation
		span(aria-hidden='true')
	
	section#title-screen.cd-section
		.content-wrapper
			h1.title noel quiles
			.descript
				h3 Developer of . . .
			a.cd-scroll-down.cd-image-replace(href='#section2') scroll down

	section#frontends-item.cd-section
		.content-wrapper
			h4 frontends
			p UI/UX for websites, graphics, flyers...if a user's going to look at it I can make it.  Those are my frontends: that which helps my audience interface with desired information.  Here's a few I've done:
			#frontends-owl.owl-carousel
				.item
					.info
						:marked
							#### Melissa's Website
							##### Independent Filmmaker

							Personal website and logo for Melissa De Leon, a Greater New York area independent filmmaker with experience in producing.  The site features galleries of her film and photography work, as well as her bio and professional contact info.  Give her a shout!

							You can view Melissa's site <a target='_blank' href='http://melissadeleon.me'>here</a>.

					.img
						img(src="img/melissa.jpg" data-caption="Melissa De Leon's Website" alt="Melissa De Leon's Website")

				.item
					.info
						:marked
							#### MCCC Teach Page
							##### Mercer County Community College

							Currently a work in progress.  With MercerOnline providing content and support, I'm putting together a site for our faculty which will provide teaching resources, LMS resources, and training information.

							Check it out <a target='_blank' href='http://teach.mccc.edu'>here</a>, but remember: **it's a work in progress!**

					.img
						img(src="img/mteach.jpg" data-caption='MCCC Teach Page' alt="MCCC Teach Page")
				
				.item
					.info
						:marked
							#### Summer Session 2015 Info
							##### Mercer County Community College
							
							Information page for the MCCC Summer Session of 2015.  Designed to reduce scrolling and provide relevant information for students taking summer courses online.
							
							You can check out the page <a target='_blank' href='http://www.mccc.edu/~virtcoll/summerinfo'>here</a>.

					.img
						img(src="img/summerinfo.jpg" data-caption="MCCC Summer Session 2015 Information Page" alt="MCCC Summer Session 2015 Information Page")
				
				.item
					.info
						:marked
							#### Information Site/Blog
							##### A Bird Without Wings

							Site created for the independent documentary *A Bird Without Wings*, currently in production.  First venture into using Anchor CMS, styled with heavy modification of the default Anchor theme.

							Click <a target='_blank' href='http://www.abirdwithoutwings.com'>here</a> to go to the site. If you like, go to the <a target='_blank' href='http://www.abirdwithoutwings.com/news'>news section</a> to check out the blog.

					.img
						img(src="img/abwow.jpg" data-caption="A Bird Without Wings Information Site/Blog" alt="A Bird Without Wings Information Site/Blog")
				
				.item
					.info
						:marked
							#### Squarespace Design/Layout
							##### Maroon Media

							Site created for the now-defunct independent studio *Maroon Media*.  First time using Squarespace for design and layout, as well as updating site contents. Also, had an adventure in using Fancybox at the client's request.

							Click <a target='_blank' href='http://www.maroonmediatv.com'>here</a> to check out the site.

					.img
						img(src="img/maroonmedia.jpg" data-caption="Maroon Media Site" alt="Maroon Media Site")

				.item
					.info
						:marked
							#### David Silverman Talk Flyer
							##### Humanist Chaplaincy at Rutgers University
							
							Made this flyer to advertise an event for the Humanist Chaplaincy at Rutgers University, in which the (then) president of American Atheists would be giving a talk.  Not my idea to use the meme, but in retrospect its inclusion worked well considering the event featured the man who inspired it.

					.img
						img(src="img/daveflyer.jpg" data-caption='David Silverman Talk Flyer' alt="David Silverman Talk Flyer")

				//- .item
				//- 	img(src="img/", alt="Hand sketches")
				//- .item
				//- 	img(src="img/", alt="Eye sketches")
				//- .item
				//- 	img(src="img/", alt="find")
				//- .item
				//- 	img(src="img/", alt="some")
				//- .item
				//- 	img(src="img/", alt="more")
				//- .item
				//- 	img(src="img/", alt="examples")

	section#games-item.cd-section
		.content-wrapper
			h4 games

			p I have done quite a bit of game design during and since my college days (ca. 2013).  I've run the design gamut, from level progression and layout, to asset creation, to music, to 3D modeling, to writing...the list goes on.  Programming, however...let's just say that my TCNJ capstone project involved countless conditionals and a mess of spaghetti code.

			p You can find my senior games course project <a href='https://github.com/EnMod/Hawk-Z'>on GitHub</a>, where I've run the aforementioned gamut. There, you can download the master and try it out.  You'll also be able to find my list of credits, as well as that of the team, in the readme.

			p I also did a case study of sorts for my capstone project, <a href='https://github.com/EnMod/Memory-Lane'>also on GitHub</a>. Mind, this one uses motion tracking tech that has since become vaporware, more details in the readme.

			p Currently, I'm working on an autobiographical RPG heavily inspired by Makai Toushi SaGa and Star Ocean, in very early development.  More on that further in 2016! Also be on the lookout for the mobile puzzler a few developers and myself have in development, for iOS! 

	section#stories-item.cd-section
		.content-wrapper
			h4 stories
			p If there's one thing I pride myself on, it's how to tell a story.  I always enjoy giving life to a world through characters, plot, insane thematic elements, anything I can illustrate through words.  
			p You'll be able to find my stories on my blog which, like this section itself, is <strong>under construction.</strong>  Once it's completed you can read my stories there.

	section#fresh-beats-item.cd-section
		.content-wrapper

			h4 fresh beats

            p Ok, so maybe these beats aren't as fresh as advertised, but there's more where this came from on <a href='https://soundcloud.com/enmod'>my SoundCloud</a>.

			<iframe width="100%" height="400px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12296997%3Fsecret_token%3Ds-FWGol&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
	
	section#contact-item.cd-section
		.content-wrapper
			h4 contact

			p Let's get in touch!  I'm all over the web, but here's some places I stop in at more than the rest:

			.contact
				h6 Gmail
				<a href='mailto:noelquilesgraphics@gmail.com'>noelquilesgraphics@gmail.com</a>

			.contact
				h6 Twitter
				<a href='https://twitter.com/NoelQuiles'>@NoelQuiles</a>				

			.contact
				h6 GitHub
				<a href='https://www.github.com/enmod'>EnMod</a>