doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		title Noel Quiles (.com)
		meta(content='Noel Quiles: Developer of frontends, games, stories, and fresh beats.' name='description')
		meta(content='Noel Quiles' name='author')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel="stylesheet", href="css/animate.min.css")
		link(rel="stylesheet", href="css/style.css")

	body
		section#title-screen
			h1 noel quiles
			h3 Developer of . . .

        section#frontends
            h2 frontends
            p UI/UX for websites, graphics, flyers...if a user's going to look at it I make it. Here's a few I've done:

            #frontends-car
                .car-item
                    .info
                        :markdown
                            ## Melissa's Website
                            ### Independent Filmmaker

                            Personal website and logo for Melissa De Leon, a Greater New York area independent filmmaker with experience in producing.  The site features galleries of her film and photography work, as well as her bio and professional contact info.  Give her a shout!

                            You can view Melissa's site <a target='_blank' href='http://melissadeleon.me'>here</a>.

                    .img
                        img.lazyOwl(data-src="img/melissa.jpg" data-caption="Melissa De Leon's Website" alt="Melissa De Leon's Website")

                .car-item
                    .info
                        :markdown
                            ## MCCC Teach Page
                            ### Mercer County Community College

                            Currently a work in progress.  With MercerOnline providing content and support, I'm putting together a site for our faculty which will provide teaching resources, LMS resources, and training information.

                            Check it out <a target='_blank' href='https://teach.mccc.edu'>here</a>, but remember: **it's a work in progress!**

                    .img
                        img.lazyOwl(data-src="img/mteach.jpg" data-caption='MCCC Teach Page' alt="MCCC Teach Page")

                .car-item
                    .info
                        :markdown
                            ## Summer Session 2015 Info
                            ### Mercer County Community College

                            Information page for the MCCC Summer Session of 2015.  Designed to reduce scrolling and provide relevant information for students taking summer courses online.

                            You can check out the page <a target='_blank' href='http://www.mccc.edu/~virtcoll/summerinfo'>here</a>.

                    .img
                        img.lazyOwl(data-src="img/summerinfo.jpg" data-caption="MCCC Summer Session 2015 Information Page" alt="MCCC Summer Session 2015 Information Page")

                .car-item
                    .info
                        :markdown
                            ## Information Site/Blog
                            ### A Bird Without Wings

                            Site created for the independent documentary *A Bird Without Wings*, currently in production.  First venture into using Anchor CMS, styled with heavy modification of the default Anchor theme.

                            Click <a target='_blank' href='http://www.abirdwithoutwings.com'>here</a> to go to the site. If you like, go to the <a target='_blank' href='http://www.abirdwithoutwings.com/news'>news section</a> to check out the blog.

                    .img
                        img.lazyOwl(data-src="img/abwow.jpg" data-caption="A Bird Without Wings Information Site/Blog" alt="A Bird Without Wings Information Site/Blog")

                .car-item
                    .info
                        :markdown
                            ## Squarespace Design/Layout
                            ### South Jersey Heart Group

                            Site created for the South Jersey Heart Group of NJ's Our Lady of Lourdes hospital. This is my second time using Squarespace for design and layout, as well as updating site contents. Currently, SJHG has responsibility for handling updates and minor design; the current color scheme is their creation.

                            Click <a href='http://www.sjhg.org'>here</a> to check out the site.

                    .img
                        img.lazyOwl(data-src="img/sjhg.jpg" data-caption="South Jersey Heart Group Site" alt="South Jersey Heart Group Site")

                .car-item
                    .info
                        :markdown
                            ## David Silverman Talk Flyer
                            ### Humanist Chaplaincy at Rutgers University

                            Made this flyer to advertise an event for the Humanist Chaplaincy at Rutgers University, in which the (then) president of American Atheists would be giving a talk.  Not my idea to use the meme, but in retrospect its inclusion worked well considering the event featured the man who inspired it.

                    .img
                        img.lazyOwl(data-src="img/daveflyer.jpg" data-caption='David Silverman Talk Flyer' alt="David Silverman Talk Flyer")

                //- .car-item
                //- 	img(src="img/", alt="Hand sketches")
                //- .car-item
                //- 	img(src="img/", alt="Eye sketches")
                //- .car-item
                //- 	img(src="img/", alt="find")
                //- .car-item
                //- 	img(src="img/", alt="some")
                //- .car-item
                //- 	img(src="img/", alt="more")
                //- .car-item
                //- 	img(src="img/", alt="examples")
        section#games
            h2 games

            p I have done quite a bit of game design during and since my college days (ca. 2013).  I've run the design gamut, from level progression and layout, to asset creation, to music, to 3D modeling, to writing...the list goes on.  Programming, however...let's just say that my TCNJ capstone project involved countless conditionals and a mess of spaghetti code.

            p
                |You can find my senior games course project
                a(href='https://github.com/EnMod/Hawk-Z') on GitHub
                |, where I've run the aforementioned gamut. There, you can download the master and try it out.  You'll also be able to find my list of credits, as well as that of the team, in the readme.

            p
                |I also did a case study of sorts for my capstone project,
                a href='https://github.com/EnMod/Memory-Lane') also on GitHub
                |. Mind, this one uses motion tracking tech that has since become vaporware, more details in the readme. Once I get my hands on an HTC Vive I'll see what I can do to bring it up to speed!

            p Currently, I'm working on an autobiographical RPG heavily inspired by Makai Toushi SaGa and Star Ocean, in very early development.  More on that further in 2016!

        section#stories
            h2 stories
            :markdown
                If there's one thing I pride myself on, it's how to tell a story.  I always enjoy giving life to a world through characters, plot, insane thematic elements, anything I can illustrate through words.

                You'll be able to find my stories on my blog which, like this section itself, is **under construction.**  Once it's completed you can read my stories there.

        section#fresh-beats
            h2 fresh beats

            p
                |Ok, so maybe these beats aren't as fresh as advertised, but there's more where this came from on
                a(href='https://soundcloud.com/enmod') my SoundCloud
                |.
            //- <iframe width="100%" height="400px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/12296997%3Fsecret_token%3Ds-FWGol&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            .soundcloud-box

        section#contact
            h2 contact

            p Let's keep in touch!  I'm all over the web, but here's some places I stop in at more than the rest:

            .item
                h3 Gmail
                a(href='mailto:noelquilesgraphics@gmail.com') noelquilesgraphics@gmail.com

            .item
                h3 Twitter
                a(href='https://twitter.com/NoelQuiles') @NoelQuiles

            .item
                h3 GitHub
                a(href='https://www.github.com/enmod') EnMod

		footer
            |Noel Quiles's personal site
            a(href='http://github.com/enmod/noelquiles.com') v3.0.
            |© 2016 Noel Quiles

		script(src='js/main.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-64547184-1', 'auto');
			ga('send', 'pageview');
