html {
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  /* make the contents flexboxy */
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  /* evenly split available space in parent container amongst all flex:1's */
  flex: 1;
  /* these options make items inside stretch to fill */
  justify-content: center;
  align-items: center;
  /* display: flex makes flex containers, it doesn't cascade the declaration down */
  /* so if you want a thing to contain flexy items, call it */
  display: flex;
  /* now they're horizontal...make em vertical */
  flex-direction: column;

}
 

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/1CD3fd8kHnE/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* children of flex items */
.panel > * {
  /* testing border */
  /*border: 1px solid cyan;*/
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  /* let's make em evenly spaced throughout */

  /*flex-grow: 1 (fill the container at a factor of 1, as below)
  |-A-|-B-|---C--|  where A and B are flex-grow: 1, and C is flex-grow 2
  C has 6 characters between | compared to the 3 each of A and B
  
  flex-shrink: 0 (how much the item will shrink to fit the container (?))

  flex-basis: auto (initial item size)
  */
  flex: 1 0 auto;
  /* bnb flex-centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hide the non-important words on load */
/* pick them through :pseudos */
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel > *:last-child {
  transform: translateY(100%);
}

/* when active, bring em back */
.panel.active > *:first-child, .panel.active > *:last-child  {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  font-size:40px;
  /* increase the size ratio of the panel on open */
  flex: 5;
}