#single-post
  & #categories,
  & #categories a
    color: #aaa
  & #categories a:hover
    color: #ccc
  & h1,
  & h2,
  & h3
    margin: 0
  /* this fixes YT embeds from Contentful not being center */
  & .ytembed
    display: block
    margin: 0 auto
