#single-post
  @media (max-width: 1000px)
    padding: 0 15px
  & #categories,
  & #categories a
    color: #aaa
  & #categories a:hover
    color: #ccc
  & h1,
  & h2,
  & h3
    margin: 0
  // & #disqus_thread p
  //   font-family: 'Quando'

