@import '_settings'

// ~~~~~~~~~~~~~~~~
// ~ Font Imports ~
// ~~~~~~~~~~~~~~~~

@font-face
  font-family 'enmod'
  font-style normal
  src url(fonts/enmod.ttf)

// ~ Lato includes ~

/* latin-ext */

// ~~~~~~~~~~
// ~ Mixins ~
// ~~~~~~~~~~

link(style = linkStyle)
	a:link,a:visited,a:active
		color linkBase
		text-decoration style
	a:hover 
		color linkHover
		text-decoration style

// ~~~~~~~~~~~~~~~~
// ~ Main Styling ~
// ~~~~~~~~~~~~~~~~

*, *::after, *::before
	box-sizing border-box

body
	font-family $body-font, sans-serif
	-webkit-font-smoothing antialiased
	-moz-font-smoothing antialiased
	
h1
	font-family $header-font
	
// ~ Content Page Styles ~
// ~~~~~~~~~~~~~~~~~~~~~~~

// ~ Main Sections ~
section
	height 100vh
	+between(2, 6)
		padding 5% 35%
	padding 5% 10%
	
link(none)

// ~ Stage Select ~
.contact
	lost-column 1/3
#frontends-owl
	lost-center: 100rem
	.info
		lost-column: 1/2
		link(underline)
	.img
		lost-column: 1/2
		transition(all 0.1s ease-in-out-sine)
		hover-pop(0.9)
	
	img
		max-width 100%
