:root {
  --sz-s-01: 2px;
  --sz-s-02: 4px;
  --sz-s-03: 8px;
  --sz-s-04: 12px;
  --sz-s-05: 16px;
  --sz-m-01: 24px;
  --sz-m-02: 32px;
  --sz-m-03: 40px;
  --sz-m-04: 48px;
  --sz-l-01: 64px;
  --sz-l-02: 80px;
  --sz-l-03: 96px;
  --sz-l-04: 112px;
  --sz-l-05: 128px;
}
