:root {
  --text-color: var(--yin);
  --background-color: var(--qi-1);
  --link: var(--qi-5);
  --link-hover: var(--qi-4);
  --text-secondary-color: var(--qi-8);
}

.light {
  --text-color: var(--yin);
  --background-color: var(--qi-1);
  --link: var(--qi-5);
  --link-hover: var(--qi-4);
  --text-secondary-color: var(--qi-8);
}

.light.websites {
  --text-color: var(--water-9);
  --background-color: var(--water-1);
  --link: var(--water-5);
  --link-hover: var(--water-4);
  --text-secondary-color: var(--water-8);
}

.light.writing {
  --text-color: var(--earth-9);
  --background-color: var(--earth-1);
  --link: var(--earth-8);
  --link-hover: var(--earth-7);
  --text-secondary-color: var(--earth-8);
}

.light.audio {
  --text-color: var(--wind-9);
  --background-color: var(--wind-1);
  --link: var(--wind-8);
  --link-hover: var(--wind-7);
  --text-secondary-color: var(--wind-7);
}

.light.games {
  --text-color: var(--fire-9);
  --background-color: var(--fire-1);
  --link: var(--fire-6);
  --link-hover: var(--fire-5);
  --text-secondary-color: var(--fire-8);
}

.dark {
  --text-color: var(--yang);
  --background-color: var(--qi-9);
  --link: var(--qi-3);
  --link-hover: var(--qi-4);
  --text-secondary-color: var(--qi-3);
}

.dark.websites {
  --text-color: var(--water-1);
  --background-color: var(--water-9);
  --link: var(--water-3);
  --link-hover: var(--water-4);
  --text-secondary-color: var(--water-3);
}

.dark.writing {
  --text-color: var(--earth-1);
  --background-color: var(--earth-9);
  --link: var(--earth-6);
  --link-hover: var(--earth-7);
  --text-secondary-color: var(--earth-4);
}

.dark.audio {
  --text-color: var(--wind-1);
  --background-color: var(--wind-9);
  --link: var(--wind-4);
  --link-hover: var(--wind-5);
  --text-secondary-color: var(--wind-3);
}

.dark.games {
  --text-color: var(--fire-1);
  --background-color: var(--fire-9);
  --link: var(--fire-4);
  --link-hover: var(--fire-5);
  --text-secondary-color: var(--fire-3);
}
