:root {
  --gap: 3rem;
}

#p-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;

  & .headline {
    margin-top: 0;
  }

  & .manifesto {
    margin-bottom: calc(var(--gap) * 2);
  }

  & .link-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &:not(:last-of-type) {
      margin-bottom: var(--gap);
    }
  }

  & .g-page-icon-link:not(:last-of-type) {
    margin-right: var(--gap);
  }
}
