#p-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;

  & .headline {
    margin-top: 0;
  }

  & .manifesto {
    margin-bottom: 3rem;
  }

  & .disciplines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    & .g-discipline-link:not(:last-of-type) {
      margin-right: 3rem;
    }
  }
}
