.g-container {
  --padding-x: var(--sz-05);

  max-width: calc(var(--sz-14) * 10);
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  margin: 0 auto;

  @media (--tablet-up) {
    --padding-x: var(--sz-07);
  }
}
