body {
  font-family: var(--body-font);
  color: var(--qi-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: calc(var(--sz-m-04) * 2);
  font-size: var(--sz-m-04);
}

h2 {
  margin-top: calc(var(--sz-m-02) * 2);
  font-size: var(--sz-m-02);
}

h3 {
  margin-top: calc(var(--sz-m-01) * 2);
  font-size: var(--sz-m-01);
}

h4 {
  margin-top: calc(var(--sz-s-05) * 2);
  font-size: var(--sz-s-05);
}

h5 {
  margin-top: calc(var(--sz-s-04) * 2);
  font-size: var(--sz-s-04);
}

h6 {
  margin-top: calc(var(--sz-s-04) * 2);
  font-size: var(--sz-s-04);
}

.g-text-hero {
  font-size: var(--sz-l-01);
  font-family: var(--heading-font);
}

.g-label {
  font-size: var(--sz-s-04);
  text-transform: uppercase;
  color: var(--text-secondary-color);
}
