html {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  /* transform: translateY(-3px);  /* account for the height of the clock hands */

  /* the above accounting for height turns into accounting for the position of the hands,
  if you change their sizes like I do later on */
  /* reason being, the hands move to the origin point (0,0) on rotate(),
  sooooo we have to move the whole clock face to compensate */

  transform: translate(50%, -50%);
}

/* readjusted Wes's classes after noticing something in this link: 
https://cssanimation.rocks/clocks/
I found that having the hands be drawn vertical from the start removes
a lot of "adjustment" and such provided in the video, like adding 90 per degree in the js

Also added some "prettying" classes to spice up the hands
*/
.hand {
  width: 6px;
  background:black;
  position: absolute;
  background:cyan;

  /* you'll wanna rotate it according to the actual time*/
  /* to do that you'd mess with the transform */
  /* let's start with the hands pointing 12*/
  /*transform: rotate(90deg);*/
  /* ...or just flip the width/height since adjusting the origin is tough when
  widths become different sizes if you so choose*/

  /* BUT WHAT ABOUT THE PIVOT POINT??*/
  /* you need to set the transform-origin to the bottom of the element */
  transform-origin: bottom;

  /* make the transition between time units real smooth-like */
  /* transition: [what] [how long] [with what timing function] */
  /* transition: all 0.5s ease-in-out; */

  /* but what if you want something more customized? */
  /* use a cubic-bezier() to get a multi-point curve, adjustable in the devtools */
  /* also, for accurate tick-tock, make the ticking faster */
  transition: all 0.05s cubic-bezier(0, 2.69, 0.35, 1.01); 

}

/* let's make em pretty */
/* let's move the tops into here so we can push the hands into the right places */
.hour-hand {
  top:75%;
  height:25%;
}

.minute-hand {
  top:60%;
  height:40%;
}

.second-hand {
  top:50%;
  height:50%;
  background:red;
}