@import '../../styles/custom-properties/colors.css';

#p-links {
  text-align: center;
  padding: 128px 20px 20px 20px;

  & h1 {
    margin-top: 0;
  }

  & ul {
    padding-left: 0;
    margin: 0 auto;
    max-width: 500px;

    & .link {
      list-style-type: none;

      & button {
        border-radius: 35px;
        border: 2px solid var(--yin);
        background: none;
        color: var(--yin);
        font-family: var(--heading-font);
        font-size: 1rem;
        padding: 1.5rem;
        text-decoration: none;
        transition: 0.15s ease;
        transition-property: border-color, color, background-color;
        margin-bottom: 1rem;

        &:hover {
          border-color: var(--qi-5);
          background-color: var(--yin);
          color: var(--qi-1);
        }
      }
    }
  }
}
