:root {
	--fire-1: #ffeeeb;
	--fire-2: #ffd5d1;
	--fire-3: #ffa3a3;
	--fire-4: #ff6161;
	--fire-5: #ff0000;
	--fire-6: #db0000;
	--fire-7: #ad0006;
	--fire-8: #850007;
	--fire-9: #570007;

	--water-1: #ebf5ff;
	--water-2: #d6eaff;
	--water-3: #b3d4ff;
	--water-4: #3d8eff;
	--water-5: #0000ff;
	--water-6: #0000d6;
	--water-7: #0000b8;
	--water-8: #000099;
	--water-9: #001861;

	--metal-0: #ffffff;
	--metal-1: #f2f2f2;
	--metal-2: #e0e0e0;
	--metal-3: #cccccc;
	--metal-4: #a6a6a6;
	--metal-5: #7f7f7f;
	--metal-6: #666666;
	--metal-7: #4d4d4d;
	--metal-8: #333333;
	--metal-9: #1a1a1a;
	--metal-10: #000000;

	--wind-1: #e6ffe6;
	--wind-2: #ccffcc;
	--wind-3: #b8ffb8;
	--wind-4: #85ff85;
	--wind-5: #00ff00;
	--wind-6: #00d600;
	--wind-7: #00a800;
	--wind-8: #006608;
	--wind-9: #003300;

	--earth-1: #ffffd6;
	--earth-2: #fffbbd;
	--earth-3: #fffa99;
	--earth-4: #fffc66;
	--earth-5: #ffff00;
	--earth-6: #faed00;
	--earth-7: #d6c400;
	--earth-8: #8f7700;
	--earth-9: #423600;
}
